<div class="bg-about h-100">
	<div class="home-bg-img">
		<img src="../assets/img/home.jpg" class="img-fluid">
		<div class="container h-100">
			<div class="row h-100 d-flex align-items-center m-0">	
				<div class="col-xl-5 col-12 mt-5 text-light">
				 	<h4 class="pb-4">Web Developer</h4>
				 	<h1 class="font-50 font-weight-bold pb-3">Mohit <span class="bg-danger p-1 d-inline-flex align-items-end rounded-circle"></span></h1>
				 	<p class="font-18 text-grey">I am a Full-Stack developer and passionate engineer.</p>
				 	<p class="font-18 text-grey text-break">Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage.</p>
				</div>
			</div>
		</div>
	</div>
</div>