<div class="row">
	<div class="col-1 ml-5 pl-4">
		<div class="vlt-fixed-socials position-fixed z-index-1 d-flex py-5 flex-column">
			<a class="py-3" href="#" target="_blank"><i class="fa fa-facebook text-light font-30" aria-hidden="true"></i>
			</a>
			<a class="pb-3" href="#" target="_blank"><i class="fa fa-twitter text-light font-30" aria-hidden="true"></i>
			</a>
			<a class="pb-3" href="#" target="_blank"><i class="fa fa-instagram text-light font-30" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>