<div class="bg-about h-100">
			<div class="home-bg-img">
			<img src="../assets/img/contact.jpg" class="img-fluid">
	<div class="container h-100">		
		<div class=" m-0 bg-about d-flex align-items-center h-100">
			<div class="row w-100">			
				<div class="col-lg-6 col-md-12 col-12 text-light">
					<h1 class="font-50">Contact</h1>
					<p class="text-grey py-4">You’ll called for yielding male, so lights Stars <br> abundantly, is their.</p>
					<h3>Rajkot, Gujarat, India</h3>
					<h3 class="py-4">+91 91067 99484</h3>
					<p>mohitkachhadiya@gmail.com</p>
				</div>	
				<div class="col-lg-6 col-md-12 col-12">
					<div class="w-100">
						<h4 class="text-light">Let's grab a coffee and jump on <br> conversation <span class="text-red">chat with me.</span></h4>
					  	<form class="form" action="#">
					    
						    <fieldset class="form-fieldset ui-input py-4 __first">
						      <input type="text" id="username" tabindex="0" class="text-light bg-transparent border-0 outline-none px-3 pb-2 font-20" placeholder="Your Name">
						      <label class="pt-4" for="username"></label>
						    </fieldset>
						    
						    <fieldset class="form-fieldset ui-input  __second">
						      <input type="email" id="email" tabindex="0" class="text-light bg-transparent border-0 outline-none px-3 pb-2 font-20" placeholder="Your E-mail">
						      <label class="pt-4" for="email"></label>
						    </fieldset>
						    
						    <fieldset class="form-fieldset ui-input py-4 __third">
						      <textarea id="message" class="text-light bg-transparent border-0 outline-none font-20 w-100 px-3 pb-2" placeholder="Message"></textarea>
						      <label class="pt-4" for="new-password"></label>
						    </fieldset>
					    
						    <div class="form-footer">
						      <button class="btn btn-lg bg-red text-light font-15 rounded-0">CONTACT ME</button>
						    </div>
						</form>
					</div>
				</div>	
			</div>
			</div>
		</div>
	</div>
</div>