<div class="container-fluid h-100 px-0">
	<div class="row h-100 m-0">
		<div class="col-xl-11 col-12 px-0 position-absolute">
			<app-header></app-header>
		</div>
		<div class="col-12 px-0">
			<div class="row m-0 main-content">
				<div class="col-12 px-0">
					<div class="d-none d-lg-block">
						<app-sidebar></app-sidebar>
					</div>
					<div class="position-absolute ml-md-5 ml-3 footer-content z-index-1">
						<app-footer></app-footer>
					</div>
					<div class="router-content">
						<router-outlet></router-outlet>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
