<nav class="navbar navbar-expand-lg z-index-1 pt-4 sticky-nav w-100 pl-3 bg-sm-about  pl-md-4">
<div class="px-md-5 pl-4 pr-3 d-lg-flex d-block align-items-center w-100">
		<a class="navbar-brand font-30 font-weight-bold text-light pl-md-0" href="#">Mohit <span class="bg-danger p-1 ml-1 d-inline-flex align-items-end rounded-circle"></span></a>
		<button class="navbar-toggler float-right outline-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span><i class="fa fa-bars font-20 btn btn-outline-light" aria-hidden="true"></i></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container text-center">
			<ul class="navbar-nav m-xs-auto	 top-nav">
				<li class="nav-item active">
					<a class="nav-link ml-0 active mr-4 font-15 font-weight-bold text-light" routerLink="/">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-xl-4 mx-0 font-15 font-weight-bold text-light" routerLink="/about">ABOUT</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link mx-4 font-15 font-weight-bold text-light" routerLink="/projects">PROJECTS</a>
				</li> -->
				<!-- <li class="nav-item">
					<a class="nav-link mx-4 font-15 font-weight-bold text-light" routerLink="/education">EDUCATION</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-4 font-15 font-weight-bold text-light" routerLink="/testimonials">TESTIMONIALS</a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link mx-4 font-15 font-weight-bold text-light" routerLink="/contact">CONTACT</a>
				</li>
			</ul>
			</div>
		</div>

		<ul class="navbar-nav d-lg-block d-none">
			<li class="nav-item">
						<a class="nav-link font-16 text-light" href="#">+91 91067 99484</a>
				</li>
		</ul>  
</div>
	</nav>