.bg-black {
	background-color : #111;
}
.outline-none {
	outline: none !important;
}
.z-index-1 {
	z-index : 1;
}
.text-grey {
	color : grey;
}
.bg-about {
	background-color : #161616;
}
.bg-red {
	background-color : #cf000f !important;
}
.text-red {
	color : #cf000f;
}