.top-nav li .nav-link:hover{
	color : red !important;
}
.top-nav li .nav-link:focus{
	color : red !important;
}
.px-75 {
	padding-left: 75px;
	padding-right: 75px;
}

.sticky-nav {
	position: fixed !important;
}