<div class="bg-about h-100 pt-sm-150">
	<div class="container h-100">
		<div class="row d-flex align-items-center m-0 h-100">
			<div class="col-xl-6 col-12">
				 <div class="text-light pt-5 m-lg-100 h-100 experience-section border border-right-0 text-center">
				 	<h1 class="font-100 font-weight-bold">2<span class="bg-danger p-2 ml-3 d-inline-flex align-items-end rounded-circle"></span></h1>
				 	<div class="text-right w-75 font-weight-bold">
				 		<p class="mb-2">Years</p>
				 		<p class="mb-2">Experience</p>
				 		<div class="d-flex justify-content-end align-items-center mb-5"><p class="w-25 mb-0 border mr-5"></p> <p class="mb-0 ml-4">Working</p></div>
				 	</div>
				 </div>	
			</div>
			<div class="col-xl-6 col-12">
				<div class="text-light">
					<h1 class="font-50">Great Experience</h1>
					<p class="mt-4 text-grey">Fill appear won’t may make moveth signs. Fourth. Good <br> own. Green you’re moveth us, lesser.</p>
					<div class="mt-5">
						<div class=" m-xs-auto">
							<!-- Web Design Progress -->
							<div class="text-light d-flex justify-content-between align-items-center pt-5">
								<p class="font-weight-bold font-12">WEB DESIGN</p>
								<p class="font-weight-bold font-12">70%</p>
							</div>
							 <div class="progress progress-striped active" style="height: 0.5rem">
						        <div class="progress-bar bg-danger progress-bar-success" id="webDesign"></div>
						    </div>

							<!-- Angular Progress -->
						    <div class="text-light d-flex justify-content-between align-items-center pt-5">
								<p class="font-weight-bold font-12">ANGULAR</p>
								<p class="font-weight-bold font-12">85%</p>
							</div>
							 <div class="progress progress-striped active" style="height: 0.5rem">
						        <div class="progress-bar bg-danger progress-bar-success" id="angular"></div>
						    </div>

							<!-- Node.js Progress -->
						    <div class="text-light d-flex justify-content-between align-items-center pt-5">
								<p class="font-weight-bold font-12">NODE.JS</p>
								<p class="font-weight-bold font-12">90%</p>
							</div>
							 <div class="progress progress-striped active" style="height: 0.5rem">
						        <div class="progress-bar bg-danger progress-bar-success" id="nodejs"></div>
						    </div>

						    <!-- Node.js Progress -->
						    <!-- <div class="text-light d-flex justify-content-between align-items-center pt-5">
								<p class="font-weight-bold font-12">MONGODB</p>
								<p class="font-weight-bold font-12">80%</p>
							</div>
							 <div class="progress progress-striped active" style="height: 0.5rem">
						        <div class="progress-bar bg-danger progress-bar-success" id="mongoDB"></div>
						    </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>